<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="emilyChristmas2014App">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="emilyChristmasController">
      <div class="header row">
        <h3 class="text-muted col-md-3"
        ng-click="music.paused ? music.play() : music.pause()"
        title="play some cool tunes, sister!">An Emily Christmas</h3>
          <div class="parts">


            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Hats</button>
              <button type="button" ng-click="setItem(hats,'menu')" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-show="itemSelected(hats, 'menu')" ng-repeat="image in hats">
                  <!--   <img ng-src="{{image}}" ng-click="setFace(image)"> -->
                  <button ng-click="setItem(image, 'hat'); randomSound().play()">{{normalizeImage(image)}}</button>
                </li>
              </ul>
            </div>

            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-success">Bodies</button>
              <button type="button" ng-click="setItem(bodies,'menu')" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-show="itemSelected(bodies, 'menu')" ng-repeat="image in bodies">
                  <!--   <img ng-src="{{image}}" ng-click="setFace(image)"> -->
                  <button ng-click="setItem(image, 'body'); randomSound().play()">{{normalizeImage(image)}}</button>
                </li>
              </ul>
            </div>

            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-danger">Backgrounds</button>
              <button type="button" ng-click="setItem(backgrounds,'menu')" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-show="itemSelected(backgrounds, 'menu')" ng-repeat="image in backgrounds">
                  <!--   <img ng-src="{{image}}" ng-click="setFace(image)"> -->
                  <button ng-click="setBackground(image);
                                    randomSound().play();
                                    matchingSong(image).play()">
                      {{normalizeImage(image)}}
                  </button>
                </li>
              </ul>
            </div>

            <button type="button" class="btn btn-default btn-lg pause">
              <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>

          </div>

      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span>To Emily, from David. Merry Christmas. </p>
      </div>
    </div>



    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-audio/app/angular.audio.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
