<!-- TODO connecting these images to $scope -->
<section class="emily">

  <article class="face">
    <img src="images/emily_pic1.png" alt="">
  </article>

  <div class="appendage1"><img src="#" alt=""></div>
  <div class="appendage2"><img src="#" alt=""></div>
  <div class="appendage3"><img src="#" alt=""></div>
  <div class="appendage4"><img src="#" alt=""></div>
  <div class="appendage5"><img src="#" alt=""></div>
  <div class="appendage6"><img src="#" alt=""></div>
  <div class="appendage7"><img src="#" alt=""></div>

  <div class="screenshot">
    <button>
      Take a screenshot!
    </button>
  </div>
</section>

<section class="selections">

  <article class="parts">

    <div class="parts_select">
      <button class="btn-custom">Emily Faces</button>
    </div>
    <div class="parts_select">
      <button class="btn-custom">Arms</button>
    </div>
    <div class="parts_select">
      <button class="btn-custom">Legs</button>
    </div>
    <div class="parts_select">
      <button class="btn-custom">Hats</button>
    </div>
    <div class="parts_select">
      <button class="btn-custom">Backgrounds</button>
    </div>
    <div class="parts_select">
      <button class="btn-custom">Body</button>
    </div>
    <div class="parts_select">
      <button class="btn-custom">Upload!</button>
    </div>

  </article>

  <article class="view-parts">
    <img src="" alt="">
  </article>

</section>
