<div ng-controller="emilyChristmasController">

  <section class="emily">

  <!-- TODO ng-repeat through all photos and SHOW them if they are selected, just like with the isSelected menu function -->

    <div>
      Hide this form upon submission.
      <input type="text" placeholder="name your creation" ng-model="title">
    </div>

    <h1>{{title}}</h1>

    <div class="face" ng-repeat="images in faces.images">
      <!-- <img ng-src="{{face}}"> -->
      <p ng-show="itemSelected(images.image, 'face')">{{face}}</p>
    </div>

    <div class="body" ng-repeat="images in bodies.images">
    <!--   <img ng-src="{{body}}"> -->
      <p ng-show="itemSelected(images.image, 'body')">{{body}}</p>
    </div>

    <div class="hat" ng-repeat="images in hats.images">
      <!-- <img ng-src="{{hat}}"> -->
      <p ng-show="itemSelected(images.image, 'hat')">{{hat}}</p>
    </div>

    <div class="background" ng-repeat="images in backgrounds.images">
      <!-- <img ng-src="{{background}}"> -->
      <p ng-show="itemSelected(images.image, 'background')">{{background}}</p>
    </div>

    <div class="screenshot">
      <button>
        Take a screenshot!
      </button>
    </div>

  </section>

  <section class="selections">

    <article class="parts">

      <div class="parts_select" ng-click="setMenu(faces)">
        <button class="btn-custom">Faces</button>
      </div>
      <div class="parts_select" ng-click="setMenu(hats)">
        <button class="btn-custom">Hats</button>
      </div>
      <div class="parts_select" ng-click="setMenu(bodies)">
        <button class="btn-custom">Bodies</button>
      </div>
      <div class="parts_select" ng-click="setMenu(backgrounds)">
        <button class="btn-custom">Backgrounds</button>
      </div>

    </article>

    <article class="view-parts">

      <div ng-show="menu == 'init'">
        Choose from the menu items to the left!
      </div>

      <div ng-show="menuSelected(faces)" ng-repeat="images in faces.images">
      <!--   <img ng-src="{{images.image}}" ng-click="setFace(images.image)"> -->
        <button ng-click="setFace(images.image)">faces</button>
      </div>

      <div ng-show="menuSelected(hats)" ng-repeat="images in hats.images">
        <!-- <img ng-src="{{images.image}}" ng-click="setHat(images.image)"> -->
        <button ng-click="setHat(images.image)">hats</button>
      </div>

      <div ng-show="menuSelected(bodies)" ng-repeat="images in bodies.images">
        <!-- <img ng-src="{{images.image}}" ng-click="setBody(images.image)"> -->
        <button ng-click="setBody(images.image)">bodies</button>
      </div>

      <div ng-show="menuSelected(backgrounds)" ng-repeat="images in backgrounds.images">
        <!-- <img ng-src="{{images.image}}" ng-click="setBackground(images.image)"> -->
        <button ng-click="setBackground(images.image)">backgrounds</button>
      </div>

    </article>

  </section>

</div>
