

<div ng-controller="selectionsController">
  <section class="emily">

    <article class="face">
      <p>{{test}}</p>
      <img ng-src="{{faces[0]}}" alt="">
    </article>

    <div class="body"><img src="#" alt=""></div>
    <div class="hat"><img src="#" alt=""></div>
    <div class="background"><img src="#" alt=""></div>

    <div class="screenshot">
      <button>
        Take a screenshot!
      </button>
    </div>
  </section>

  <section class="selections">

    <article class="parts">

      <div class="parts_select">
        <button class="btn-custom">Emily Faces</button>
      </div>
      <div class="parts_select">
        <button class="btn-custom">Arms</button>
      </div>
      <div class="parts_select">
        <button class="btn-custom">Legs</button>
      </div>
      <div class="parts_select">
        <button class="btn-custom">Hats</button>
      </div>
      <div class="parts_select">
        <button class="btn-custom">Backgrounds</button>
      </div>
      <div class="parts_select">
        <button class="btn-custom">Body</button>
      </div>
      <div class="parts_select">
        <button class="btn-custom">Upload!</button>
      </div>

    </article>

    <article class="view-parts">
      <img src="" alt="">
    </article>

  </section>

</div>
